<p id="notice"><%= notice %></p>

<h1>Listing Event Job Job Associations</h1>

<table id="eve_jojo_assoc" class="display">
  <thead>
  <tr>
    <th>Event</th>
    <th>Predecessor</th>
    <th>Successor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @event_job_job_associations.each do |event_job_job_association| %>
      <tr>
        <td><%= event_job_job_association.event.name %></td>
        <td><%= event_job_job_association.predecessor.name %></td>
        <td><%= event_job_job_association.successor.name %></td>
        <td><%= link_to 'Anzeigen', event_job_job_association %></td>
        <td><%= link_to 'Bearbeiten', edit_event_job_job_association_path(event_job_job_association) %></td>
        <td><%= link_to 'Löschen', event_job_job_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event job job association', new_event_job_job_association_path %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>