<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table id="jobs" class="display">
  <thead>
  <tr>
    <th>Event</th>
    <th>Vorgang</th>
    <th>Beschreibung</th>
    <th>Dauer</th>
    <th>Kapazität</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.event.name %></td>
        <td><%= job.name %></td>
        <td><%= job.jobtext %></td>
        <td><%= job.processing_time %></td>
        <td><%= job.ressource_demand %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
