<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @job.event.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Jobtext:</strong>
  <%= @job.jobtext %>
</p>

<p>
  <strong>Processing time:</strong>
  <%= @job.processing_time %>
</p>

<p>
  <strong>Ressource demand:</strong>
  <%= @job.ressource_demand %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
