<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table id="events" class="display">
  <thead>
  <tr>
    <th>Anlass</th>
    <th>Kurze Beschreibung und Wünsche</th>
    <th>Anzahl der Gäste</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.eventtext %></td>
        <td><%= event.guest %></td>
        <td><%= event.deadline %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
