<%= form_for(@gams_path) do |f| %>
  <% if @gams_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gams_path.errors.count, "error") %> prohibited this gams_path from being saved:</h2>

      <ul>
      <% @gams_path.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :gams_path_url %><br>
      <%= f.text_field :gams_path_url, :class => "form-control",
                       placeholder: "C:\\GAMS\\win64\\24.7\\gams"%>
    </div>
    <div class="actions">
      <%= f.submit 'GAMS-Pfad aktualisieren', {:class => "btn btn-primary"} %>
    </div>
<% end %>
